.content-wrap{
    padding: 20px;
    background-color: #f1f3f5;
    // position: relative;
    .content{
        background-color: #fff;
        // height: 60vh;
    }
    
}
.nav-left{
    height:100vh;
}
.header{
    background-color: #fff;
}